mat-card{
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-style{
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}
.card-content{
    /* display: inline-block; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p{
    /* margin: 100px; */
    padding: 50px;
}

.header{
    padding: 20px;
}

.image-grid{
    margin: 30px;
}