<mat-tab-group>
    <mat-tab label="Profile">
        <mat-card>
            <mat-card-actions align="end">
                <button mat-button>
                    <mat-icon matBadgeColor="warn">mail_outline</mat-icon>
                </button>
                <button mat-raised-button color="primary">Send invitation</button>
            </mat-card-actions>
            <mat-card-title>
                <div class="header">
                    Atheek ahammed
                </div>
                <mat-card-content class="card-content">
                    <img class="img-style" src="https://randomuser.me/api/portraits/men/26.jpg" alt="">
                </mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <div mat-line>Yagamwela</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-title>
        </mat-card>
    </mat-tab>


    <mat-tab label="Info">

        <mat-card>
            <mat-card-content>
                <mat-card-content class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quidem
                        labore cum obcaecati necessitatibus harum, repudiandae cumque dolorem voluptatibus fuga
                        recusandae
                        nostrum
                        possimus laborum distinctio ullam, voluptatum ipsum ipsa ipsam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae animi tempore, nulla
                        nemo
                        repellendus eligendi voluptatem magni quia corrupti quasi accusamus assumenda maxime explicabo
                        qui,
                        quos
                        hic? Culpa, atque!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque autem, aliquam
                        eveniet
                        exercitationem, possimus quod iusto provident natus, rem nisi molestias quisquam numquam. Dolore
                        a
                        animi
                        laboriosam dolor natus?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quam vitae incidunt? Iste
                        nihil
                        veritatis eaque laudantium soluta praesentium eum repudiandae est. A, corporis sit! Modi magni
                        odit
                        ut
                        voluptates?
                    </p>
                </mat-card-content>
                <mat-card-content class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quidem
                        labore cum obcaecati necessitatibus harum, repudiandae cumque dolorem voluptatibus fuga
                        recusandae
                        nostrum
                        possimus laborum distinctio ullam, voluptatum ipsum ipsa ipsam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae animi tempore, nulla
                        nemo
                        repellendus eligendi voluptatem magni quia corrupti quasi accusamus assumenda maxime explicabo
                        qui,
                        quos
                        hic? Culpa, atque!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque autem, aliquam
                        eveniet
                        exercitationem, possimus quod iusto provident natus, rem nisi molestias quisquam numquam. Dolore
                        a
                        animi
                        laboriosam dolor natus?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quam vitae incidunt? Iste
                        nihil
                        veritatis eaque laudantium soluta praesentium eum repudiandae est. A, corporis sit! Modi magni
                        odit
                        ut
                        voluptates?
                    </p>
                </mat-card-content>
                <mat-card-content class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quidem
                        labore cum obcaecati necessitatibus harum, repudiandae cumque dolorem voluptatibus fuga
                        recusandae
                        nostrum
                        possimus laborum distinctio ullam, voluptatum ipsum ipsa ipsam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae animi tempore, nulla
                        nemo
                        repellendus eligendi voluptatem magni quia corrupti quasi accusamus assumenda maxime explicabo
                        qui,
                        quos
                        hic? Culpa, atque!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque autem, aliquam
                        eveniet
                        exercitationem, possimus quod iusto provident natus, rem nisi molestias quisquam numquam. Dolore
                        a
                        animi
                        laboriosam dolor natus?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quam vitae incidunt? Iste
                        nihil
                        veritatis eaque laudantium soluta praesentium eum repudiandae est. A, corporis sit! Modi magni
                        odit
                        ut
                        voluptates?
                    </p>
                </mat-card-content>
                <mat-card-content class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quidem
                        labore cum obcaecati necessitatibus harum, repudiandae cumque dolorem voluptatibus fuga
                        recusandae
                        nostrum
                        possimus laborum distinctio ullam, voluptatum ipsum ipsa ipsam?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae animi tempore, nulla
                        nemo
                        repellendus eligendi voluptatem magni quia corrupti quasi accusamus assumenda maxime explicabo
                        qui,
                        quos
                        hic? Culpa, atque!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque autem, aliquam
                        eveniet
                        exercitationem, possimus quod iusto provident natus, rem nisi molestias quisquam numquam. Dolore
                        a
                        animi
                        laboriosam dolor natus?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quam vitae incidunt? Iste
                        nihil
                        veritatis eaque laudantium soluta praesentium eum repudiandae est. A, corporis sit! Modi magni
                        odit
                        ut
                        voluptates?
                    </p>
                </mat-card-content>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card>
    </mat-tab>







    <mat-tab label="Photos">

        <mat-grid-list class="image-grid" gutterSize="8px" cols="4" rowHeight="150px">
            <mat-grid-tile *ngFor="let item of list; 
            let index = index;" [rowspan]="item.rows" [colspan]="item.cols">

                <img src="https://picsum.photos/200/{{300 + index}}" alt=""
                    style="object-fit: cover; width: 100%; height: 100%;">



            </mat-grid-tile>
        </mat-grid-list>

    </mat-tab>
    <mat-tab label="Messages">


        

    </mat-tab>
</mat-tab-group>