<div class="card-spacing">
  <mat-card class="action-content">
    <mat-card-title align="center">
      <img class="image-styles" src="{{serviceprovider.photoUrl || '../../../assets/user.png'}}">

      <div class="small"> <small>
          <mat-icon class="location-icon">place</mat-icon>
        </small>
        {{serviceprovider.city}}</div>
      <div class="name">{{serviceprovider.lasttName}}</div>
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile>
          <mat-icon class="green">task_alt</mat-icon>
          <h3>253</h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon class="yellow">star</mat-icon>
          <div>
            <h3>4.1</h3>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon class="red">visibility</mat-icon>
          <h3>121</h3>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions class="action-content">
      <button mat-flat-button color="primary" routerLink="/service/{{serviceprovider.id}}">View</button>
    </mat-card-actions>
  </mat-card>
</div>