

<div class="card-wrapper">
  <div class="card-container">
    <div class="card-image-profile">
      <div class="online-status">
        <img class="image-styles" src="{{serviceprovider.photoUrl || '../../../assets/user.png'}}" alt="">
      </div>
        <!-- <img class="image-styles" src="{{serviceprovider.photoUrl || '../../../assets/user.png'}}" alt=""> -->
    </div>
    <div class="card-text">
      <div class="city">
        <mat-icon class="location-icon">place</mat-icon>
        {{serviceprovider.city}}
      </div>
    
      <div class="service">
        {{serviceprovider.lasttName}}
      </div>
    </div>
    <div class="card-showcase-bar">
      <div class="card-completed-task">
        <mat-icon class="green">task_alt</mat-icon>
        <h3>253</h3>
      </div>
      <div class="card-rating">
        <mat-icon class="yellow">star</mat-icon>
          <h3>4.1</h3>
      </div>
      <div class="card-views">
        <mat-icon class="red">visibility</mat-icon>
        <h3>121</h3>
      </div>
    </div>
    <!-- <div class="services-provide">
      <div class="chips-list">
        <div class="chip">
          Programmer
        </div>
      </div>
    </div> -->
  </div>
  <button mat-flat-button color="primary" routerLink="/service/{{serviceprovider.id}}">View</button>
</div>


