<mat-toolbar>
  <button mat-icon-button class="example-icon" routerLinkActive="router-link-active"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" class="logo">My App</span>
  <span class="example-spacer"></span>

  <ng-container *ngIf="!profileExist">
    <button class="button-bg" routerLink="/createprofile" mat-stroked-button *ngIf="auth.currentUser$ |async">
      <mat-icon>add</mat-icon>
      Create Profile
    </button>
  </ng-container>

  <button class="message-btn" routerLink="/messages" *ngIf="auth.currentUser$ |async">
    <mat-icon matBadge="15" matBadgeColor="warn">mail_outline</mat-icon>
  </button>
  <button [matMenuTriggerFor]="appMenu" class="message-btn" *ngIf="auth.currentUser$ |async">
    <mat-icon matBadge="5" matBadgeColor="warn">notifications_active</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-button>silva accepted</button>
  </mat-menu>
  <ng-container *ngIf="(auth.currentUser$ | async) === null">
    <button mat-button routerLink="/login">Login</button>
    <button mat-button>Register</button>
  </ng-container>


  <ng-container *ngIf="auth.currentUser$ |async">
    <img src="{{auth.logeduser.photoUlr || '../../../assets/user.png'}}" alt="">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span (click)="logout()">LogOut</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>