mat-nav-list{
    height: 90vh;
}
.container{
    display: inline-block;
    width: '400px';
}
mat-icon{
    padding-left: '50px';
}


.col-1{
    display: flex;
  flex-direction: row;
}
.col-2{
    display: flex;
  flex-direction: row;
}