@media screen and (min-width: 992px) {
  .container-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .form-width {
    margin: 3px;
    width: 48.5%;
  }
  .row-input{
    width: 97.5%;
  }
}

@media screen and (max-width: 992px) {
  .container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .form-width{
    width: 100%;
  }
}