<div class="message-container">
    <div class="chat-container">
        <div class="side-bar">
            <mat-nav-list>
                <mat-list-item>
                    <img class="img-m-style" src="https://randomuser.me/api/portraits/men/26.jpg">
                    <div>Category</div> 
                    <div class="badge" matBadge="4"></div>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="chat-window">

        </div>
    </div>
</div>





<!-- <div class="container">

    <mat-sidenav-container style="height: 70vh;">
        <mat-sidenav mode="side" opened>
            <mat-nav-list>
                <mat-list-item>
                    <img class="img-m-style" src="https://randomuser.me/api/portraits/men/26.jpg">
                    Category<div class="badge" matBadge="4"></div>
                </mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item>
                    <img class="img-m-style" src="https://randomuser.me/api/portraits/men/26.jpg">
                    Category<div class="badge" matBadge="4"></div>
                </mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item>
                    <img class="img-m-style" src="https://randomuser.me/api/portraits/men/26.jpg">
                    Category<div class="badge" matBadge="4"></div>
                </mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item>
                    <img class="img-m-style" src="https://randomuser.me/api/portraits/men/26.jpg">
                    Category<div class="badge" matBadge="4"></div>
                </mat-list-item>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
<div *ngFor="let message of messages">
    {{message.content}}
</div>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Type message">
                </mat-form-field>
                <button mat-button class="msg-send">Send</button>
            </form>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div> -->