mat-sidenav-container{
    height: 110%;
}
mat-sidenav,mat-sidenav-content{
    padding: 16px;
    height: 100vh;
}
mat-sidenav{
    width: 250px;
    padding: 0;
    margin: 0;

}
mat-nav-list.a{
    width: 100%;
    text-align: center;
}
mat-nav-list{
    padding: 0;
    margin: 0;
}
mat-form-field{
    /* margin: 10px; */
    margin-top: 10px;
    margin-left: 22px;

}

.margin-left{
    margin-left: 25px;

}

.icon-style{
    margin-right: 10px;
}


.mat-drawer:not(.mat-drawer-side) {
    position: fixed;
}

.mat-drawer-backdrop {
    position: fixed !important;
}

