<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-nav-list>
            <mat-list-item (click)="openDialogLocaton()">
                <mat-icon class="icon-style">gps_fixed</mat-icon>
                Location
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="icon-style">category</mat-icon>
                Category
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="icon-style">star_border</mat-icon>
                Top Profiles
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="icon-style">phone</mat-icon>
                Over the call
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="icon-style">gps_fixed</mat-icon>
                Location
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="icon-style">add_business</mat-icon>
                SMEs
            </mat-list-item>
        </mat-nav-list>


        

    </mat-sidenav>



    <mat-sidenav-content>
        
        <app-service-list></app-service-list>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-paginator [pageSizeOptions]="[5,10,15]" ></mat-paginator>
