@media screen and (min-width: 992px) {


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sidebar-wrapper{
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    
}
.sidebar{
    width: 230px;
}
.sidebar-group{
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}
.form-class{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host ::ng-deep .form-class div.mat-form-field-wrapper{
    padding-bottom: 0;
    /* padding: 10px; */
  }
.icon-style{
    padding-right: 15px;
}


.maincontent-wrapper{
    width: 1200px;
}  
}