<div class="form-container">
    <div class="container">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <mat-card class="card">
                <mat-form-field floatLabel="auto" appearance="outline">
                    <mat-label>UserName</mat-label>
                    <input name="username" [(ngModel)]="model.username" matInput>
                </mat-form-field>
                <br>
                <mat-form-field floatLabel="auto" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" [(ngModel)]="model.password">
                </mat-form-field>
                <button mat-flat-button color="primary">Login</button>



            </mat-card>
        </form>
    </div>
</div>